<div>Filter:
<input [(ngModel)]='listFilter' (keyup)='onKeyup($event)'><br><br>
</div>

<html>
<head>
<style>
table, td, th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
}
</style>
</head>
<body>
    
<table *ngIf = 'filteredRecipes && filteredRecipes.length > 0'>
    <tr>
        <th>Image</th>
        <th>Type</th>
        <th>Title</th>
        <th>Star Rating</th>
        <th>Serving Size</th>
        <th>Ready Time</th>
        <th>Difficulty Rating</th>
    </tr>
    <tr *ngFor = 'let recipe of filteredRecipes'>
        <td>
            <img src='{{ recipe.imageURL }}' alt='' height='175' width='190'>
        </td>
        <td>{{ recipe.type }}</td>
        <td><a [routerLink]="['/recipe-detail', recipe.title]">{{ recipe.title }}</a></td>
        <td><app-star
            [rating]='recipe.starRating'
            (ratingClicked)='onRatingClicked($event)'>
        </app-star></td>
        <td>{{ recipe.servingSize }}</td>
        <td>{{ recipe.readyTime }} minutes</td>
        <td><app-star
            [rating]='recipe.difficulyRating'
            (ratingClicked)='onRatingClicked($event)'>
        </app-star></td>
    </tr>
</table>

</body>
</html>
    