<!DOCTYPE html>
<html>
  <body>
    <br>
    <div style="text-align:center">
    <h1 style="color:rgb(0, 153, 255)">Featured Recipe of the Season!</h1> 
    <img src="./assets/Firecracker_Cake.jpg" alt="">
  
  <br>
  <br>
  <h2 style="color:red">Ingredients:</h2>
  <p>1 box Super Moist white cake mix</p>
  <p>Water</p>
  <p>Vegatable oil</p>
  <p>2 whole eggs</p>
  <p>1 1/4 teaspoons red gel food color</p>
  <p>1 1/4 teaspoons blue gel food color</p>
  <p>1/2 cup vanilla frosting</p>
  <p>2 teaspoons red, white, and blue candy sprinkles if desired</p>
  <h2 style="color:red">Directions:</h2>
  <p>1. Heat oven to 350°F. Generously spray 12-cup fluted tube cake pan with baking spray with flour.</p>
  <p>2. In large bowl, beat cake mix, water, oil and eggs with electric mixer on medium speed 2 minutes, scraping</p>
  <p>bowl occasionally. In small bowl, place 1 cup of the batter; stir in 1 teaspoon of the red food color until</p>
  <p>blended. In another small bowl, place 1 cup of the batter; stir in 1 teaspoon of the blue food color until blended.</p>
  <p>3. Pour red cake batter into bottom of pan. Carefully pour remaining white batter over red batter in pan.</p>
  <p>Carefully pour blue batter over white batter. (Blue batter does not need to cover white batter</p>
  <p>completely; it looks better if it just forms a ring in the center of the white batter.)</p>
  <p>4. Bake 40 to 45 minutes or until toothpick inserted in center comes out clean. Remove cake from oven. Let</p>
  <p>stand 10 minutes, remove from pan to cooling rack. Cool completely, about 1 hour.</p>
  <p>5. Place cake on cooling rack over waxed paper or cooking parchment paper. In small microwavable</p>
  <p>bowl, place 1/4 cup of the frosting. Microwave uncovered on High 10 to 15 seconds or until thin</p>
  <p>enough to drizzle over cake. With spoon, drizzle warmed frosting back and forth over cake in striping</p>
  <p>pattern. Divide remaining frosting between 2 small microwavable bowls. To 1 bowl, stir in 1/4 teaspoon</p>
  <p>red food color until well blended. Microwave uncovered on High 5 to 10 seconds or until thin</p>
  <p>enough to drizzle. Drizzle over cake. Repeat with remaining bowl of frosting and 1/4 teaspoon blue</p>
  <p>food color. Sprinkle candy sprinkles on top. Let stand about 30 minutes or until frosting is set. Store</p>
  <p>loosely covered at room temperature.</p>
  </div>
  </body>
</html>

